# Leitura do Arquivo Acon

In [1]:
import pandas as pd

In [9]:
path = ("C:/Users/E805511/Documents/Importacao_modelos_v1/testes/teste_nw/PMO/acon002.out")

arquivo_acon = pd.read_csv(path,
                skiprows = 4,
                delim_whitespace = True,
                skip_blank_lines = True,
                encoding = 'UTF-8',
               )
display(arquivo_acon)

        1    2    3    4    5    6    7    8    9   10   11   12
1     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0
2     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0
3     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0
4     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0
5     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
1996  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
1997  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
1998  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
1999  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
2000  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0

[10008 rows x 12 columns]

In [10]:
C = arquivo_acon.dtypes
print(C)

1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
dtype: object

In [4]:
df_dados_acon = pd.DataFrame(arquivo_acon)
display(df_dados_acon[1998:2005])

           1    2    3    4    5    6    7    8     9    10    11   12
1999     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0   1.0   1.0  1.0
2000     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0   1.0   1.0  1.0
ANO:  2021.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  NaN
1        2.0  3.0  4.0  5.0  6.0  7.0  8.0  9.0  10.0  11.0  12.0  NaN
1        1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0   1.0   1.0   1.0  1.0
2        1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0   1.0   1.0   1.0  1.0
3        1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0   1.0   1.0   1.0  1.0

In [5]:
#df_dados_acon.rename nÃ£o funciona
df_dados_acon.columns = ['jan', 'fev', 'mar', 'abr', 'mai', 'jun','jul', 'ago', 'set','out', 'nov', 'dez']
#df_dados_acon.index = ['SÃ©ries']
display(df_dados_acon)

      jan  fev  mar  abr  mai  jun  jul  ago  set  out  nov  dez
1     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0
2     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0
3     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0
4     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0
5     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
1996  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
1997  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
1998  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
1999  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
2000  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0

[10008 rows x 12 columns]

In [7]:
#Excluindo as linhas dos anos e a coluna dos meses
df_dados_acon = df_dados_acon.dropna()
display(df_dados_acon)

      jan  fev  mar  abr  mai  jun  jul  ago  set  out  nov  dez
1     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0
2     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0
3     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0
4     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0
5     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
1996  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
1997  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
1998  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
1999  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
2000  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0

[10000 rows x 12 columns]