# Leitura do arquivo Cmarg Med
# Dados

In [1]:
import pandas as pd
import numpy as np

In [2]:
path=(r"C:\Users\E805511\Documents\Importacao_modelos_v1\testes\teste_nw\Teste_Cmarg_med\cmarg001-med.out")
arquivo_cmarg_med = pd.read_csv(path,
                skiprows = 4,
                delim_whitespace = True,
                skip_blank_lines = True,
                encoding = 'UTF-8',
               )
display(arquivo_cmarg_med)

,1,2,3,4,5,6,7,8,9,10,11,12,MEDIA
1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,67.93,51.29,98.51,90.16,85.23,78.63
2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,113.54,105.89,65.94,59.82,61.77,81.39
3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,113.54,50.71,38.19,30.18,20.29,50.58
4,0.00,0.00,0.00,0.00,0.00,0.00,0.00,78.41,24.34,47.92,54.88,24.84,46.08
5,0.00,0.00,0.00,0.00,0.00,0.00,0.00,129.64,102.92,119.88,123.43,82.56,111.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...
DPADRAO,32.47,32.54,31.13,36.61,35.82,47.51,38.48,43.43,39.75,52.04,42.95,43.43,NaN
MIN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
P5,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.00,0.00,0.00,NaN
P95,71.97,72.40,78.87,81.42,88.17,99.09,104.39,92.80,97.03,99.94,97.89,99.13,NaN
MAX,380.20,424.46,375.72,503.74,481.68,1374.19,600.00,600.00,600.00,1143.65,652.14,750.79,NaN

In [3]:
"""Tratamento de Dados"""
df_cmarg_med = pd.DataFrame(arquivo_cmarg_med)

#Diferente do arquivo acon
df_cmarg_med.columns = ['jan', 'fev', 'mar', 'abr', 'mai', 'jun','jul', 'ago', 'set','out', 'nov', 'dez', 'media' ]

#Drop dos dados estatÃ­sticos
df_cmarg_med = df_cmarg_med.dropna()
display(df_cmarg_med)

,jan,fev,mar,abr,mai,jun,jul,ago,set,out,nov,dez,media
1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,67.93,51.29,98.51,90.16,85.23,78.63
2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,113.54,105.89,65.94,59.82,61.77,81.39
3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,113.54,50.71,38.19,30.18,20.29,50.58
4,0.00,0.00,0.00,0.00,0.00,0.00,0.00,78.41,24.34,47.92,54.88,24.84,46.08
5,0.00,0.00,0.00,0.00,0.00,0.00,0.00,129.64,102.92,119.88,123.43,82.56,111.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1997,38.20,0.00,0.00,24.56,0.00,22.64,16.93,22.40,30.98,30.62,38.39,23.48,20.68
1998,1.85,0.00,0.00,0.00,0.00,53.86,28.82,36.27,50.73,55.40,54.37,95.82,31.43
1999,0.00,15.18,0.00,80.54,82.21,100.73,109.17,95.91,81.23,97.19,97.61,87.97,70.64
2000,0.00,0.00,0.00,0.00,0.00,39.26,54.01,49.07,53.42,103.76,34.50,12.68,28.89
MEDIA,13.82,12.52,11.52,14.23,14.93,22.43,26.04,26.51,24.29,22.94,20.60,18.74,19.05

In [4]:
#Coluna series
df_cmarg_med2 = df_cmarg_med.rename_axis('series').reset_index()
display(df_cmarg_med2)

,series,jan,fev,mar,abr,mai,jun,jul,ago,set,out,nov,dez,media
0,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,67.93,51.29,98.51,90.16,85.23,78.63
1,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,113.54,105.89,65.94,59.82,61.77,81.39
2,3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,113.54,50.71,38.19,30.18,20.29,50.58
3,4,0.00,0.00,0.00,0.00,0.00,0.00,0.00,78.41,24.34,47.92,54.88,24.84,46.08
4,5,0.00,0.00,0.00,0.00,0.00,0.00,0.00,129.64,102.92,119.88,123.43,82.56,111.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10000,1997,38.20,0.00,0.00,24.56,0.00,22.64,16.93,22.40,30.98,30.62,38.39,23.48,20.68
10001,1998,1.85,0.00,0.00,0.00,0.00,53.86,28.82,36.27,50.73,55.40,54.37,95.82,31.43
10002,1999,0.00,15.18,0.00,80.54,82.21,100.73,109.17,95.91,81.23,97.19,97.61,87.97,70.64
10003,2000,0.00,0.00,0.00,0.00,0.00,39.26,54.01,49.07,53.42,103.76,34.50,12.68,28.89
10004,MEDIA,13.82,12.52,11.52,14.23,14.93,22.43,26.04,26.51,24.29,22.94,20.60,18.74,19.05

In [5]:

#df_cmarg_med.iloc[8003].delete()
#c = df_cmarg_med2.iloc[2000]
#display(df_cmarg_med2)
#-------------------------------------------------
#df_cmarg_med2.loc[df_cmarg_med2.isin(['MEDIA'])]
#df_cmarg_med2['series'] == df_cmarg_med2['MEDIA']

In [6]:

#ExclusÃ£o das linhas com valores da media
#2000, 4001, 6002, 8003 10004
index_MEDIA = df_cmarg_med2[df_cmarg_med2['series'] == 'MEDIA'].index
#print = Int64Index([2000, 4001, 6002, 8003, 10004], dtype='int64')


df_cmarg_med2.drop(index_MEDIA, inplace=True)
display(df_cmarg_med2)

,series,jan,fev,mar,abr,mai,jun,jul,ago,set,out,nov,dez,media
0,1,0.00,0.00,0.0,0.00,0.00,0.00,0.00,67.93,51.29,98.51,90.16,85.23,78.63
1,2,0.00,0.00,0.0,0.00,0.00,0.00,0.00,113.54,105.89,65.94,59.82,61.77,81.39
2,3,0.00,0.00,0.0,0.00,0.00,0.00,0.00,113.54,50.71,38.19,30.18,20.29,50.58
3,4,0.00,0.00,0.0,0.00,0.00,0.00,0.00,78.41,24.34,47.92,54.88,24.84,46.08
4,5,0.00,0.00,0.0,0.00,0.00,0.00,0.00,129.64,102.92,119.88,123.43,82.56,111.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9999,1996,0.00,0.00,0.0,0.00,0.00,20.15,19.47,32.16,16.68,23.72,21.40,6.79,11.70
10000,1997,38.20,0.00,0.0,24.56,0.00,22.64,16.93,22.40,30.98,30.62,38.39,23.48,20.68
10001,1998,1.85,0.00,0.0,0.00,0.00,53.86,28.82,36.27,50.73,55.40,54.37,95.82,31.43
10002,1999,0.00,15.18,0.0,80.54,82.21,100.73,109.17,95.91,81.23,97.19,97.61,87.97,70.64
10003,2000,0.00,0.00,0.0,0.00,0.00,39.26,54.01,49.07,53.42,103.76,34.50,12.68,28.89

In [7]:
#Coluna series de object para string
'''NÃ£o funciona'''
#df_cmarg_med2['series'] = df_cmarg_med2['series'].astype(str, copy = True, errors = 'raise')
#df_cmarg_med2['series'].dtype
#display(df_cmarg_med2['series'])df

'NÃ£o funciona'

In [8]:
#Organizando o index
df_cmarg_med2.reset_index(drop = True, inplace= True)
display(df_cmarg_med2)

,series,jan,fev,mar,abr,mai,jun,jul,ago,set,out,nov,dez,media
0,1,0.00,0.00,0.0,0.00,0.00,0.00,0.00,67.93,51.29,98.51,90.16,85.23,78.63
1,2,0.00,0.00,0.0,0.00,0.00,0.00,0.00,113.54,105.89,65.94,59.82,61.77,81.39
2,3,0.00,0.00,0.0,0.00,0.00,0.00,0.00,113.54,50.71,38.19,30.18,20.29,50.58
3,4,0.00,0.00,0.0,0.00,0.00,0.00,0.00,78.41,24.34,47.92,54.88,24.84,46.08
4,5,0.00,0.00,0.0,0.00,0.00,0.00,0.00,129.64,102.92,119.88,123.43,82.56,111.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1996,0.00,0.00,0.0,0.00,0.00,20.15,19.47,32.16,16.68,23.72,21.40,6.79,11.70
9996,1997,38.20,0.00,0.0,24.56,0.00,22.64,16.93,22.40,30.98,30.62,38.39,23.48,20.68
9997,1998,1.85,0.00,0.0,0.00,0.00,53.86,28.82,36.27,50.73,55.40,54.37,95.82,31.43
9998,1999,0.00,15.18,0.0,80.54,82.21,100.73,109.17,95.91,81.23,97.19,97.61,87.97,70.64
9999,2000,0.00,0.00,0.0,0.00,0.00,39.26,54.01,49.07,53.42,103.76,34.50,12.68,28.89

In [9]:
df_cmarg_med2.iloc[8000]

series        1
jan         0.0
fev         0.0
mar         0.0
abr         0.0
mai         0.0
jun       31.17
jul       29.84
ago       19.45
set       21.06
out        17.2
nov       25.21
dez       23.58
media     13.96
Name: 8000, dtype: object

In [10]:
#Adicionando os anos
#--------------------------------
"""NÃƒO MEXER AQUI"""
#--------------------------------
#anos = list(cycle([i for in range(200)]))
#NÃ£o funciona
#df_cmarg_med2['anos'] = anos

'NÃƒO MEXER AQUI'

In [11]:
#Adicionando os anos
years = np.array([['ANO:', '2022'], ['ANO:', '2023'], ['ANO:', '2024'], ['ANO:', '2025'], ['ANO:', '2026']])

anos1 = np.array([2022, 2023, 2024, 2025, 2026])

#----------------------------------------------------------
anos1 = np.repeat(anos1, 1, axis = 0). repeat(2000, axis = 0)
#2D Array
coluna_anos = pd.Series([anos1])

display(anos1)

array([2022, 2022, 2022, ..., 2026, 2026, 2026])

In [12]:
display(df_cmarg_med2)

,series,jan,fev,mar,abr,mai,jun,jul,ago,set,out,nov,dez,media
0,1,0.00,0.00,0.0,0.00,0.00,0.00,0.00,67.93,51.29,98.51,90.16,85.23,78.63
1,2,0.00,0.00,0.0,0.00,0.00,0.00,0.00,113.54,105.89,65.94,59.82,61.77,81.39
2,3,0.00,0.00,0.0,0.00,0.00,0.00,0.00,113.54,50.71,38.19,30.18,20.29,50.58
3,4,0.00,0.00,0.0,0.00,0.00,0.00,0.00,78.41,24.34,47.92,54.88,24.84,46.08
4,5,0.00,0.00,0.0,0.00,0.00,0.00,0.00,129.64,102.92,119.88,123.43,82.56,111.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1996,0.00,0.00,0.0,0.00,0.00,20.15,19.47,32.16,16.68,23.72,21.40,6.79,11.70
9996,1997,38.20,0.00,0.0,24.56,0.00,22.64,16.93,22.40,30.98,30.62,38.39,23.48,20.68
9997,1998,1.85,0.00,0.0,0.00,0.00,53.86,28.82,36.27,50.73,55.40,54.37,95.82,31.43
9998,1999,0.00,15.18,0.0,80.54,82.21,100.73,109.17,95.91,81.23,97.19,97.61,87.97,70.64
9999,2000,0.00,0.00,0.0,0.00,0.00,39.26,54.01,49.07,53.42,103.76,34.50,12.68,28.89

In [13]:
#inserir na tabela de dados

#Funciona, mas como Ãºltima coluna
df_cmarg_med2['anos'] = anos1

display(df_cmarg_med2)

,series,jan,fev,mar,abr,mai,jun,jul,ago,set,out,nov,dez,media,anos
0,1,0.00,0.00,0.0,0.00,0.00,0.00,0.00,67.93,51.29,98.51,90.16,85.23,78.63,2022
1,2,0.00,0.00,0.0,0.00,0.00,0.00,0.00,113.54,105.89,65.94,59.82,61.77,81.39,2022
2,3,0.00,0.00,0.0,0.00,0.00,0.00,0.00,113.54,50.71,38.19,30.18,20.29,50.58,2022
3,4,0.00,0.00,0.0,0.00,0.00,0.00,0.00,78.41,24.34,47.92,54.88,24.84,46.08,2022
4,5,0.00,0.00,0.0,0.00,0.00,0.00,0.00,129.64,102.92,119.88,123.43,82.56,111.68,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1996,0.00,0.00,0.0,0.00,0.00,20.15,19.47,32.16,16.68,23.72,21.40,6.79,11.70,2026
9996,1997,38.20,0.00,0.0,24.56,0.00,22.64,16.93,22.40,30.98,30.62,38.39,23.48,20.68,2026
9997,1998,1.85,0.00,0.0,0.00,0.00,53.86,28.82,36.27,50.73,55.40,54.37,95.82,31.43,2026
9998,1999,0.00,15.18,0.0,80.54,82.21,100.73,109.17,95.91,81.23,97.19,97.61,87.97,70.64,2026
9999,2000,0.00,0.00,0.0,0.00,0.00,39.26,54.01,49.07,53.42,103.76,34.50,12.68,28.89,2026

In [15]:
#Adicionando a coluna de submercado

#1D array
submercado = np.array(['SUDESTE'])
submercado = np.repeat(submercado, 10000, axis = 0)
df_cmarg_med2['submercado'] = submercado
display(df_cmarg_med2)

,series,jan,fev,mar,abr,mai,jun,jul,ago,set,out,nov,dez,media,anos,submercado
0,1,0.00,0.00,0.0,0.00,0.00,0.00,0.00,67.93,51.29,98.51,90.16,85.23,78.63,2022,SUDESTE
1,2,0.00,0.00,0.0,0.00,0.00,0.00,0.00,113.54,105.89,65.94,59.82,61.77,81.39,2022,SUDESTE
2,3,0.00,0.00,0.0,0.00,0.00,0.00,0.00,113.54,50.71,38.19,30.18,20.29,50.58,2022,SUDESTE
3,4,0.00,0.00,0.0,0.00,0.00,0.00,0.00,78.41,24.34,47.92,54.88,24.84,46.08,2022,SUDESTE
4,5,0.00,0.00,0.0,0.00,0.00,0.00,0.00,129.64,102.92,119.88,123.43,82.56,111.68,2022,SUDESTE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1996,0.00,0.00,0.0,0.00,0.00,20.15,19.47,32.16,16.68,23.72,21.40,6.79,11.70,2026,SUDESTE
9996,1997,38.20,0.00,0.0,24.56,0.00,22.64,16.93,22.40,30.98,30.62,38.39,23.48,20.68,2026,SUDESTE
9997,1998,1.85,0.00,0.0,0.00,0.00,53.86,28.82,36.27,50.73,55.40,54.37,95.82,31.43,2026,SUDESTE
9998,1999,0.00,15.18,0.0,80.54,82.21,100.73,109.17,95.91,81.23,97.19,97.61,87.97,70.64,2026,SUDESTE
9999,2000,0.00,0.00,0.0,0.00,0.00,39.26,54.01,49.07,53.42,103.76,34.50,12.68,28.89,2026,SUDESTE

In [46]:
"""
As sÃ©ries se iniciam em:
-------------
Ã­nd. | anos |
-------------
0    | 2022
1999 | 2023
4000 | 2024
6000 | 2025
8000 | 2026
-------------
"""
df_cmarg_med2.iloc[7994:8006]

,series,jan,fev,mar,abr,mai,jun,jul,ago,set,out,nov,dez,media,anos,submercado
7994,1995,2.91,49.75,68.54,54.08,69.65,86.87,107.14,105.12,130.06,147.10,138.79,93.93,87.83,2025,SUDESTE
7995,1996,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.00,0.00,0.00,2025,SUDESTE
7996,1997,0.00,0.00,0.00,0.00,0.00,0.00,6.28,13.08,11.18,17.36,24.20,36.40,9.04,2025,SUDESTE
7997,1998,17.31,42.06,3.05,0.00,0.00,0.00,0.00,8.10,12.68,4.89,18.69,21.07,10.65,2025,SUDESTE
7998,1999,1.46,19.27,5.10,0.00,0.00,0.00,13.62,9.68,6.89,0.15,0.00,0.00,4.68,2025,SUDESTE
7999,2000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.15,0.00,0.00,0.01,2025,SUDESTE
8000,1,0.00,0.00,0.00,0.00,0.00,31.17,29.84,19.45,21.06,17.20,25.21,23.58,13.96,2026,SUDESTE
8001,2,0.00,0.00,0.00,0.00,0.00,0.00,10.78,2.81,0.00,0.00,4.89,0.00,1.54,2026,SUDESTE
8002,3,0.00,0.00,0.00,0.00,0.00,21.16,7.81,10.84,21.39,46.37,82.39,99.31,24.11,2026,SUDESTE
8003,4,0.00,0.00,0.00,0.00,14.68,0.00,10.22,10.95,3.76,1.63,1.32,0.00,3.55,2026,SUDESTE
8004,5,0.00,0.00,0.00,0.00,29.51,40.63,41.08,36.28,12.75,92.98,86.14,153.47,41.07,2026,SUDESTE
8005,6,0.00,0.00,0.00,0.00,0.00,39.47,32.85,25.58,16.04,1.00,3.95,0.00,9.91,2026,SUDESTE

In [ ]:
#EXPORTAR
#CSV

In [ ]:
#EXCEL

#### ANOS E SUBMERCADO

In [38]:
years = np.array([['ANO:', '2022'], ['ANO:', '2023'], ['ANO:', '2024'], ['ANO:', '2025'], ['ANO:', '2026']])
years.ndim

#RESHAPE: para aumentar n dimensÃµes
#RESIZE: para dimunuir n dimensÃµes

np.resize(years, (5,10))
#U4: Unicode string - 4 character string
#array([['ANO:'],
#       ['2022'],
#       ['ANO:'],
#       ['2023'],
#       ['ANO:'],

array([['ANO:', '2022', 'ANO:', '2023', 'ANO:', '2024', 'ANO:', '2025',
        'ANO:', '2026'],
       ['ANO:', '2022', 'ANO:', '2023', 'ANO:', '2024', 'ANO:', '2025',
        'ANO:', '2026'],
       ['ANO:', '2022', 'ANO:', '2023', 'ANO:', '2024', 'ANO:', '2025',
        'ANO:', '2026'],
       ['ANO:', '2022', 'ANO:', '2023', 'ANO:', '2024', 'ANO:', '2025',
        'ANO:', '2026'],
       ['ANO:', '2022', 'ANO:', '2023', 'ANO:', '2024', 'ANO:', '2025',
        'ANO:', '2026']], dtype='<U4')